@page "/aboutpage"
@inject NavigationManager Navigation
<PageTitle>Be+ About Page</PageTitle>

	<header>
		<img src="resources/2.png" width="auto" height="150px"> 
		<nav>
			<ul>
				<li><a href="index.html">BE+ Home</a></li>
				<li><a href="donate.html">Donate Blood</a></li>
				<li><a href="request.html">Request Blood</a></li>
			</ul>
		</nav>
	</header>
	<hr>
	<div class="body-content">
		<h2>About BE+</h2>
		<p>
			BE+ is a blood banking solution, different from traditional blood banks in the way that there is no wastage of precious resources. We track every pint of blood that's ever donated to us, who was it was used for, how much was used and why was it needed.<br>
			To make the collection process easier, we let donors to select a donation center closest to them, select the time of their convenience and stop by to donate as they please.<br>
			Hospitals can register themselves with us, and after our authenticating and authorization processes, we allow them to post requests for blood by filling out a simple form. That request is approved by our management team, and then the approved request is sent to the warehouse from where we send our delivery person to deliver the blood to the hospital.
			<br><br>
			The development of BE+ is proposed to provide a management solution, functional to the blood bank in order to handle the blood and to make the entries of the individuals who want to donate blood and who are in need.
			<br><br><br>
			To join our cause and help those who are in need, please consider becoming a donor:
		</p>
		<br>

		<a href="donate.html"><button style="text-align: center;"> Proceed to book an appointment </button></a>

	</div>

	<hr>
	<footer>
		<div class="footer-list">
			<ul>
				<li><a href="about.html">About Be+</a></li>
				 <li style="padding-left: 705px;"><a href="HMAS.html">About HMAS</a></li> 
				<br>
				<li><a href="rick.html">Rick</a></li>
			</ul>
		</div>
		 <p>&copy; 2024 Be+ Blood Bank WebApp. Property of HMAS. All rights reserved.</p>
	</footer>
@code {

}
