@page "/adminhome"

@inject NavigationManager Navigation

<PageTitle>Be+ Blood Bank SignIn</PageTitle>

<header>
    <img src="resources/2.png" width="auto" height="150px">
    <nav>
        <ul>
            <li><a href="/">BE+ Home</a></li>
            <li><a href="donorpage">Donate Blood</a></li>
            <li><a href="hospitallogin">Request Blood</a></li>
            <li><a href="bbsignin">Blood-Banks</a></li>
        </ul>
    </nav>
</header>
<hr>


<div class="body-content">
    <h4> STUFF TO ADD TO THIS PAGE</h4>
    @* Summary Stuff *@
    <ul>
        <li>Number of Appointments from every Collection Points</li>
        <li>List of registreed Hosiptals</li>
        <li>List of Collection Points</li>
    </ul>
    
    
    @* Approve/Dissapprove stuff *@
    <ul>
        <li>Requests from hospitals to register themselves</li>
        <li>Requests from banks to register themselves</li>
    </ul>

    
    
    

</div>


<hr>

<!-- FOOTER AREA-->
<footer>
    <div class="footer-list">
        <ul>
            <li><a href="aboutpage">About Be+</a></li>
            <li style="padding-left: 705px;"><a href="HMAS">About HMAS</a></li>
            <br>
            <li><a href="rick">Rick</a></li>
        </ul>
    </div>
    <p>&copy; 2024 Be+ Blood Bank WebApp. Property of HMAS. All rights reserved.</p>
</footer>


@code {

    // fetch details from DB


    // fetch appointments that are made to every the collection point that has signed in at the moment and show a button "blood collected"
    // the card should show this studd : name of donor, CNIC, Phone, what type of blood has been collected

    // fetch requests for blood that have been made to this certain blood bank and a button that says |approve request|
}