@page "/bbhome"

@inject NavigationManager Navigation

<PageTitle>Be+ Blood Bank SignIn</PageTitle>

<header>
    <img src="resources/2.png" width="auto" height="150px">
    <nav>
        <ul>
            <li><a href="/">BE+ Home</a></li>
            <li><a href="adminlogin">BE+ Admin</a></li>
            <li><a href="donorpage">Donate Blood</a></li>
            <li><a href="hospitallogin">Request Blood</a></li>
        </ul>
    </nav>
</header>
<hr>


    <div class="body-content"> <!-- Content of Blood bank's Home-->
        <h3>List of All Appointments</h3>
        @* list appointments for the logged in bb *@
        <h3>Requests for Blood</h3>
        @* List of all requests from the hospitals *@
        
    </div>


<hr>

<!-- FOOTER AREA-->
<footer>
    <div class="footer-list">
        <ul>
            <li><a href="aboutpage">About Be+</a></li>
            <li style="padding-left: 705px;"><a href="HMAS">About HMAS</a></li>
            <br>
            <li><a href="rick">Rick</a></li>
        </ul>
    </div>
    <p>&copy; 2024 Be+ Blood Bank WebApp. Property of HMAS. All rights reserved.</p>
</footer>


@code {
    
    // fetch details from DB


    // fetch appointments that are made to every the collection point that has signed in at the moment and show a button "blood collected"
    // the card should show this studd : name of donor, CNIC, Phone, what type of blood has been collected

    // fetch requests for blood that have been made to this certain blood bank and a button that says |approve request|
}