@page "/"
@inject NavigationManager Navigation
<PageTitle>Be+ Homepage</PageTitle>
	

<body>
	<header>
		<img src="resources/2.png" width="auto" height="150px">
		<nav>
			<ul>
				<li><a href="adminlogin">Admin</a></li>
				<li><a href="donorpage">Donate Blood</a></li>
				<li><a href="hospitallogin">Request Blood</a></li>
				<li><a href="bbsignin">Blood-Banks</a></li>
			</ul>
		</nav>
	</header>
	<hr>
	<div class="body-content">
		<div style="text-align: center; margin: 20px;">
			<img src="resources/dyk.png" width="auto" height="500px"/>
		</div>
		<h2 style="text-align: center;">Why Should You Donate Blood ?</h2>
		<p>
			Blood is the most precious gift that anyone can give to another person. It is the gift of life. A decision to donate your blood can save a life, or even several, if your blood is separated into its components - red cells, platelets and plasma - which can be used individually for patients with specific conditions. Safe blood saves lives and improves health.<br>
			Your blood can be used for :
			<br>
			<ul>
				<li style="margin-bottom: 5px">Women with complications of pregnancy.</li>
				<li style="margin-bottom: 5px">Children with severe anemia often resulting from malaria or malnutrition.</li>
				<li style="margin-bottom: 5px">People with severe trauma following man-made and natural disasters.</li>
				<li style="margin-bottom: 5px">Many complex medical and surgical procedures and cancer pateints.</li>
				<li style="margin-bottom: 5px">Transfusions for people with conditions such as thalassaemia and sickle cell disease.</li>
			</ul>
			<br>

			<div style="text-align: center;">
				<img src="resources/bloodcomp.png" width="900px" height="auto">
			</div>
		</p>

		<br>
		<h2 style="text-align: center;">Benefits of Donating Blood</h2>
		<p>
			After the booths have been folded and the blood is stored, you may be wondering what's next; The truth is that some of the benefits of donating your blood may be greater than you think. Donating blood can :
			<br>
			<ul>
				<li>Reveal possible health problems.</li>
				<li>Reduce harmful iron strokes.</li>
				<li>Reduce the risk of heart attacks.</li>
				<li>Reduce the risk of developing cancer.</li>
				<li>Can help keep your liver healthy.</li>
				<li>Can help your mental state.</li>
			</ul>
			<br>
		</p>

		<p>
			There is a constant need for regular blood supply because blood can be stored for only a limited time before use. Regular blood donations by a sufficient number of healthy people are needed to ensure that safe blood will be available whenever and wherever it is needed.
		</p>
	</div>

	<hr>
	<footer>
		<div class="footer-list">
			<ul>
				<li><a href="aboutpage">About Be+</a></li>
				 <li style="padding-left: 705px;"><a href="HMAS">About HMAS</a></li> 
				<br>
				<li><a href="rick">Rick</a></li>
			</ul>
		</div>
		 <p>&copy; 2024 Be+ Blood Bank WebApp. Property of HMAS. All rights reserved.</p>
	</footer>


</body>


@code{

}
